<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <title>Modification / Validation</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-1">
            <div id="sideBar"></div>
            <img id="title" src="/icons/Group 11.png" width="700px"></img>        
        </div>
        <div class="offset-10 home tab">
            <a href="/toHp">
                <img src="/icons/homeButton.png" alt="" width="70px">
            </a>
        </div>
    </div>

    <div class="row" style="margin-top: 125px;">
        <div class="tab offset-5 pl-3">        
            <a href="/toValidList">
                <img src="/icons/backButton.png" alt="" height="80px" />
            </a>
        </div>
    </div>

    <div class="row" style="margin-top: 75px;">
        <div class="tab offset-3 pl-5 mr-5">
            <input type="image" id="tomodifempbtn" style="outline: none;" src="/icons/addorremoveButton.png" alt="" height="80px" />
        </div>
        <div class="tab ml-5">
            <input type="image" id="tovalidempbtn" style="outline: none;" src="/icons/validateemplButton.png" alt="" height="80px" />
        </div>
    </div>
    <div class="d-none" id="formation2"><%=formorg%></div>

    <script src="/jquery.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>