<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <title>Saisir l'année</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-1">
            <div id="sideBar"></div>
            <img id="title" src="/icons/Group 11.png" width="700px"></img>        
        </div>
        <div class="offset-10 home tab">
            <a href="/toHp">
                <img src="/icons/homeButton.png" alt="" width="70px">
            </a>
        </div>
    </div>
    
    <div class="row year">
        <div class="offset-4 col-4 offset-4">
                <form action="/toCl" method="post">
                    <h3>Entrez l'année</h3>
                    <input id="year" type="text" name="year" required>
                    <div class="tab">
                        <button type="submit" id="yearBtn"></button>
                    </div>
                </form>
        </div>
    </div>

    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <script src="/bootstrap.min.js"></script>
</body>
</html>